/* Object classes ------------------------------------------------------------------------------------------------------------------------*/
html {
	background-color: #ddd;
	background-image: -moz-linear-gradient(center top, #aaa, #ddd);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(1, #ddd));
	background-image: linear-gradient(top, #aaa, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#aaaaaa', EndColorStr = '#dddddd');
	background-repeat: no-repeat;
	height: 100%;
	/* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html.no-cssgradients {
	background-color: #aaa;
}

.ie6 html {
	height: 100%;
}

html * {
	margin: 0;
}

body {
	background: #ffffff;
	color: #333333;
	margin: 0 auto;
	max-width: 70%;
	overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
	   -moz-box-shadow: 0 0 0.3em #255b17;
	-webkit-box-shadow: 0 0 0.3em #255b17;
	        box-shadow: 0 0 0.3em #255b17;
}

#masthead {
	margin: 0;
	padding: 0;
	border: 0;
}

#masthead {
	width: 100%;
	height: 100%
	
	overflow: right;
	align:right;
	text-align: left;
	background-color: #FFFFFF;
     background-image:url('../images/Banner.jpg') ;   

background-size: cover;
height : 150px;
	

background-position: center center;
}


#grailsLogo {
	background-color: #FFFFFF;
	width: 840px;
	 margin: 0;  
	border:2px solid yellow;
	
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border: none 0;
	border-top: 1px dashed #bebebe;
	height: 1px;
}

label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #444444;
}

table#basic {
	width: 70%;
	border-collapse:collapse;
	
	border-spacing: 0;
	margin-right:auto;
	margin-left:auto;
}



table#basic td {
	padding: 6px;
	white-space: nowrap;
	
	
}

table#advanced {
	width: 700px;
}

table#advanced td {
	padding: 5px;
}


table#result {
	width: 840px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #444444;
	background-color: #fff;	
	clear: both;
}

table#result td {
	padding: 5px;
	clear: both;
}

/* DIV objects ---------------------------------------------------------------------------------------------------------------------------*/




#databaseList {
	margin-left: -25px;
}

#formPanel {
	width: 90%;
	border: thin;
	border-style: dotted;
	border-color: #bebebe;
	text-align: left;
	padding-top: 10px;
}

#mainPanel {
	width: 90%;
	background-color: #fff;
	border: thin;
	border-style: solid;
	border-color: #bebebe;
}

#logoPanel {
	width: 840px;
	margin-top: 20px;
}

#contentPanel {
	margin-top: 20px;
	width: 840px;
	
}
#contentPanel2 {
	margin-top: 20px;
	width: 100%;
	text-align: justify;
	padding-left: 40px;
	padding-right: 70px;
}

#formContentPanel {
	margin-top: 20px;
	width: 840px;
	text-align: left;
}

#loadingPanel {
	margin-top: 20px;
	width: 840px;
	text-align: left;
}

#textPanel {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: justify;
	
}

#clusteringPanel {
	margin-top: 20px;
	width: 840px;
	text-align: left;
}

/* Font classes --------------------------------------------------------------------------------------------------------------------------*/
.contentTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #0F226E;
}

.formText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #0F226E;
}
.formText2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: black;
}

.formTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #777777;
	padding-left: 20px;
}

.summaryTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #0F226E;
}

.footnote {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #777777;
}

.logoTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #444444;
}

.summaryTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: #0F226E;
}

.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.50em;
	color: #444444;
}

.textMediumBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.50em;
	color: #444444;
}

.textTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #777777;
}

.disabled {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #cccccc;
}

.summaryTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: #0F226E;
}

/* Object style --------------------------------------------------------------------------------------------------------------------------*/
.formObject {
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	border-color: #C0C0C0;
	margin-left: 4px;
	background-color: #dcdcdc;
	font-family: Arial;
	font-size: 15px;
	color: #000000;
}

.tableHeader {
	background-color: #eeeeee;
}


.hover {
	background-color: #f7f7f7;
}


.tableStyle {
	margin: auto;
	width: 700px;
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
	border-color: #CCC;	
}

.tableStyle td, th{
	padding: 4px;
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
	border-color: #CCC;	
	vertical-align: top;
}

.submit {
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: Black;
    font-family: 'sans-serif';
   
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight: bold;
    text-decoration: none;
    cursor: poiner;
     border:none;
}



.submit:hover {
    border: none;
    background:#227207;
    box-shadow: 0px 0px 1px #777;

}








